<div class="container" style="padding-top:100px;">
    <div class="row" style="padding-top:20px;">
        <div class="col-xs-4 col-md-offset-4">
            <div class="text-center">
                <img src="images/logo.jpg" alt="T-Shot" class="img-circle" style="width:150px;height:150px;" >
            </div>
            <div class="text-center">
                <h1 class="center-block" style="color: #ffffff;">T-Shot</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="#" class="col-xs-4 col-md-offset-4" role="form" method="post">
            <div class="input-group">
                <label class="input-group-addon"><span class="glyphicon glyphicon-user text-success"></span></label>
                <input id="account" name="account" type="text" class="form-control" placeholder="用户ID" ng-model="user.account" ng-change="validateAccount();">
            </div>
            <br>
            <div class="input-group">
                <label class="input-group-addon"><span class="glyphicon glyphicon-lock text-success"></span></label>
                <input id="pwd" name="pwd" type="password" class="form-control" placeholder="密码" ng-model="user.pwd" ng-change="validatePassword();">
            </div>
            <br>
            <div class="" >
                <p class="strong text-warning">{{loginModel.message}}</p>
            </div>
            <div class="">
                <button id="login"  name="login" type="button" ng-disabled="!loginModel.isCompleted" ng-click="login()" class="btn btn-primary btn-block btn-lg">
                    登录
                </button>
            </div>
        </form>
    </div>
</div>